@import url("./vars.css");


/* @keyframes cloud1{

	0%{transform: translateX(0px);}
	50%{transform: translateX(5em);}
	100%{transform: translateX(0px);}

}

@keyframes cloud2{

	0%{transform: translateX(0px);}
	50%{transform: translateX(10em);}
	100%{transform: translateX(0px);}

}

@keyframes cloud3{

	0%{transform: translateX(0px);}
	50%{transform: translateX(-10em);}
	100%{transform: translateX(0px);}

}

@keyframes stage{

	0%{transform: translateY(0px);}
	50%{transform: translateY(-9em);}
	100%{transform: translateY(0px);}

}

@keyframes stage1{

	0%{transform: translateY(0px);}
	50%{transform: translateY(-5em);}
	100%{transform: translateY(0px);}

}

@keyframes bandi{

	0%{transform: translateY(0px) rotate(1deg);}
	50%{transform: translateY(-1em) rotate(-2deg);}
	100%{transform: translateY(0px) rotate(1deg);}

}

@keyframes icons{

	0%{transform: scale(1.0);}
	50%{transform: scale(1.5);}
	100%{transform: scale(1.0);}

}


@keyframes taang{

	0%{transform:rotateZ(0deg);}
	50%{transform:rotateZ(2deg);}
	100%{transform:rotateZ(0deg);}

}

@keyframes kamar{

	0%{transform: translateY(0px) rotateZ(1deg);}
	50%{transform: translateY(-1em) rotateZ(6deg);}
	100%{transform: translateY(0px) rotateZ(1deg);}

}



#coolsvg #cloud1{

	animation: cloud1 5s infinite ease-in-out;

}

#coolsvg #cloud2{

	animation: cloud2 10s infinite ease-in-out;

}

#coolsvg #cloud3{

	animation: cloud3 8s infinite ease-in-out;

}

#coolsvg #stage1{

	animation: stage 6s infinite ease-in-out;

}

#coolsvg #stage2{

	animation: stage1 6s infinite ease-in-out;

} */


/*#coolsvg #taang path:nth-child(1) {

	animation: kamar 5s infinite ease-in-out;
	transform-origin: center;

}*/


/* #coolsvg #taang path:nth-last-child(2){

	animation: taang 5s infinite ease-in-out;
	transform-origin: center;

}


#coolsvg #insta{

	animation: icons 10s infinite ease-in-out;
	transform-origin: top;

}
#coolsvg #fb{

	animation: icons 8s infinite ease-in-out;
	transform-origin: top;

}
#coolsvg #google{

	animation: icons 15s infinite ease-in-out;
	transform-origin: top left;

}
#coolsvg #linked{

	animation: icons 5s infinite ease-in-out;
	transform-origin: center;

}
#coolsvg #pinterest{

	animation: icons 11s infinite ease-in-out;
	transform-origin: center;

}
#coolsvg #twitter{

	animation: icons 12s infinite ease-in-out;
	transform-origin: top right;

}


@keyframes text-shadow {
    0% {  
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 var(--neonBlue), 
            0 0 0 #fb203b, 
            0 0 0 #fb203b;
    }

    10% {  
        text-shadow: 
            0.12em 0 #0c2ffb, 
            0.2em 0 var(--neonBlue), 
            -0.12em 0 #fb203b, 
            -0.2em 0 #fb203b;
    }

    20% {  
        text-shadow: 
            -0.062em 0 #0c2ffb, 
            -0.12em 0 var(--neonBlue), 
            0.062em 0 #fb203b, 
            0.12em 0 #fb203b;
    }
    
    60% {  
        text-shadow: 
            0 0 #0c2ffb, 
            0 0 var(--neonBlue), 
            -0 0 #fb203b, 
            -0 0 #fb203b;
    }

    80% {  
        text-shadow: 
            0 0 #0c2ffb, 
            0 0 var(--neonBlue), 
            -0 0 #fb203b, 
            -0 0 #fb203b;
    }
}
#hero-head{transition: 1s ease-in-out;}
#hero-head:hover{

	animation: text-shadow 3s infinite ease-in-out;

}


@keyframes legs {

	0%{transform:rotateZ(0deg);}
	50%{transform:rotateZ(1deg);}
	100%{transform:rotateZ(0deg);}

}

@keyframes chakri{

	0%{transform: rotateZ(0deg);}
	20%{transform: rotateZ(72deg);}
	40%{transform: rotateZ(144deg);}
	60%{transform: rotateZ(216deg);}
	80%{transform: rotateZ(288deg);}
	100%{transform: rotateZ(360deg);}

}

@keyframes chakka{

	0%{transform: rotateZ(0deg);}
	20%{transform: rotateZ(-72deg);}
	40%{transform: rotateZ(-144deg);}
	60%{transform: rotateZ(-216deg);}
	80%{transform: rotateZ(-288deg);}
	100%{transform: rotateZ(-360deg);}

}


@keyframes worktxt1{

	0%{opacity: 1;}
	10%{opacity: 0;}
	40%{opacity: 0;}
	60%{opacity: 0;}
	80%{opacity: 0;}
	100%{opacity: 0;}

}

@keyframes worktxt2{

	0%{opacity: 0;}
	20%{opacity: 1;}
	30%{opacity: 0;}
	60%{opacity: 0;}
	80%{opacity: 0;}
	100%{opacity: 0;}

}
@keyframes worktxt3{

	0%{opacity: 0;}
	20%{opacity: 0;}
	40%{opacity: 1;}
	50%{opacity: 0;}
	80%{opacity: 0;}
	100%{opacity: 0;}

}

@keyframes worktxt4{

	0%{opacity: 0;}
	20%{opacity: 0;}
	40%{opacity: 0;}
	60%{opacity: 1;}
	70%{opacity: 0;}
	100%{opacity: 0;}

}

@keyframes worktxt5{

	0%{opacity: 0;}
	20%{opacity: 0;}
	40%{opacity: 0;}
	60%{opacity: 0;}
	80%{opacity: 1;}
	90%{opacity: 0;}
	100%{opacity: 0;}

} */

#worksvg #londa > path:nth-child(1),#worksvg #londa > path:nth-child(9){

	animation: legs 1s infinite ease-in-out;
	transform-origin: left;

}

#worksvg #chakri{

	animation: chakri 25s infinite forwards ease-in-out;
	transform-origin: center ;
	transform-box:  fill-box;
	transform: translateY(2em);

}

#worksvg #hammer, #worksvg #doc, #worksvg #Re, #worksvg #analytics, #worksvg #rocket{

	animation: chakka 25s infinite forwards ease-in-out;
	transform-origin: center ;
	transform-box:  fill-box;

}


#worksvg #headings path{

	opacity: 0;

}

#worksvg #headings path{transform: scale(1.4);}

#worksvg #headings path:nth-last-child(1){

	animation: worktxt1 25s infinite forwards ease-in-out;
	transform-origin: center ;
	transform-box:  fill-box;

}

#worksvg #headings path:nth-last-child(2){

	animation: worktxt2 25s infinite forwards ease-in-out 2s;
	transform-origin: center ;
	transform-box:  fill-box;

}

#worksvg #headings path:nth-last-child(3){

	animation: worktxt3 25s infinite forwards ease-in-out 2s;
	transform-origin: center ;
	transform-box:  fill-box;

}

#worksvg #headings path:nth-last-child(4){

	animation: worktxt4 25s infinite forwards ease-in-out 2s;
	transform-origin: center ;
	transform-box:  fill-box;

}

#worksvg #headings path:nth-last-child(5){

	animation: worktxt5 25s infinite forwards ease-in-out 2s;
	transform-origin: center ;
	transform-box:  fill-box;

}



.servicessvg h4{

	width: 10em;
	text-align: center;
	font-size: 1.2em;
	color: var(--neonBlue);
	position: absolute;
	transform: translate(12.5em,7em);
	transition: 1s ease;

}


@keyframes pie{

	0%{transform: rotateZ(0deg);}
	30%{transform: rotateZ(120deg);}
	40%{transform: rotateZ(120deg);}
	60%{transform: rotateZ(240deg);}
	70%{transform: rotateZ(240deg);}
	100%{transform: rotateZ(360deg);}

}

@keyframes shapes{

	0%{transform: rotate(0deg);}
	50%{transform: rotate(360deg);}
	100%{transform: rotate(0deg);}

}

@keyframes hand{

	0%{transform: rotateZ(0deg);}
	50%{transform: translateX(-10px) rotateZ(-15deg);}
	100%{transform: rotateZ(0deg);}

}

#londi #pie{

	animation: pie 9s infinite forwards ease-in-out;
	transform-origin: center ;
	transform-box:  fill-box;

}


#londi #shapes path{

	animation: shapes 12s infinite forwards ease-in-out;
	transform-origin: center ;
	transform-box:  fill-box;
	/*transform: translateY(2em);*/

}

#londi #shapes path:nth-child(3), #londi #shapes path:nth-child(4){

	animation: shapes 12s infinite forwards ease-in-out;
	transform-origin: bottom;
	transform-box:  fill-box;
	/*transform: translateY(2em);*/

}

#londi #hand{

	animation: hand 3s infinite forwards ease-in-out;
	transform-origin: top left ;
	transform-box:  fill-box;

}


@keyframes searchgo{

	0%{transform: translate(0%,15%) scale(0.8);  opacity: 1;}
	25%{transform: translate(25%,-9%)  scale(1.0);  opacity: 1;}
	50%{transform: translate(55%,-9%)  scale(1.0);  opacity: 1;}
	75%{transform: translate(83%,15%)  scale(0.8);  opacity: 1;}
	77%{transform: translate(86%,15%)  scale(0.8); opacity: 0;}
	98%{transform: translate(-3%,15%)  scale(0.8);  opacity: 0;}
	100%{transform: translate(0%,15%)  scale(0.8);  opacity: 1;}

}

@keyframes wrench{

	0%{transform: translate(0%,0%) scale(1);  opacity: 1;}
	25%{transform: translate(30%, 0%) scale(1);  opacity: 1;}
	50%{transform: translate(65%,23%) scale(0.8);  opacity: 1;}
	52%{transform: translate(68%,23%) scale(0.8);  opacity: 0;}
	73%{transform: translate(-25%,23%) scale(0.8); opacity: 0;}
	75%{transform: translate(-22%,23%) scale(0.8);  opacity: 1;}
	100%{transform: translate(0%,0%) scale(1);  opacity: 1;}

}

@keyframes cloud{

	0%{transform: translate(0%,0%) scale(1.0);  opacity: 1;}
	25%{transform: translate(40%,20%) scale(0.8);  opacity: 1;}
	27%{transform: translate(43%,20%) scale(0.8); opacity: 0;}
	48%{transform: translate(-46%,20%) scale(0.8);  opacity: 0;}
	50%{transform: translate(-43%,20%) scale(0.8);  opacity: 1;}
	75%{transform: translate(-29%, 0%) scale(1.0);  opacity: 1;}
	100%{transform: translate(0%,0%) scale(1.0);  opacity: 1;}

}

@keyframes bot{

	0%{transform: translate(0%,-3%);  opacity: 1;}
	2%{transform: translate(3%,-3%);  opacity: 0;}
	23%{transform: translate(-87%,-3%);  opacity: 0;}
	25%{transform: translate(-85%,-3%);  opacity: 1;}
	50%{transform: translate(-93%,-40%) scale(1.4);  opacity: 1;}
	75%{transform: translate(-63%,-40%) scale(1.4);  opacity: 1;}
	100%{transform: translate(0%,-3%); opacity: 1;}

}

#servesvg #search{

	animation: searchgo 8s infinite forwards ease-in-out;

}

#servesvg #wrench{

	animation: wrench 8s infinite forwards ease-in-out;

}

#servesvg #cloud{

	animation: cloud 8s infinite forwards ease-in-out;

}

#servesvg #chatbot{

	animation: bot 8s infinite forwards ease-in-out;

}